<h3>Login Page</h3>


<font color="red"><% if flash[:login_fail] %>
  <p><%= "#{flash[:login_fail]}" %></p>
<% end %></font>


<form action="/login" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username">

  <label for="password">Password:</label>
  <input type="text" name="password">

  <input type="submit">
</form>
