<h3>This page allows you to create a new student</h3>


<form action="/students" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username">

  <label for="email">Email:</label>
  <input type="text" name="email">

  <label for="password">Password:</label>
  <input type="text" name="password">

  <input type="submit">
</form>
