<h3>This is the page for <%= @program.name %></h3>

<label>These are the topics you have included in your program</label>
<% @topics.each do |topic| %>
  <p><li><%= topic.name %></li></p>
<% end %>

 button to delete the program

 button to edit the program
