<h3>Sorry that failed, couldnt do what you wanted</h3>

<font color="red"><% if flash[:notice] %>
  <%= "#{flash[:notice]}" %>
  <p><a href="/login">Login</a></p>
<% end %>
</font>

<p><a href="/">Home</a></p>
