<h3>This is the homepage for Macademia</h3>

<% if !logged_in? %>
  <p><a href="/login">Login</a></p>
  <p><a href="/students/new">Signup</a></p>
<% else %>
  <p><a href="/logout">Logout</a></p>
<% end %>
